@media screen and (max-width:1280px) {
    .header-area {
        width: 80%;
    }

    .tap-block, .slide-block2, footer {
        width: 150%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .slide-block3 {
        width: 120%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media screen and (max-width:720px) {

    header {box-shadow: none;}
    .header-area {
        width: 100%;
        text-align: center;
        height: 8vh;
        z-index: 995;
        position: relative;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .logo {
        width: 100%;
        text-align: center;
        /* background-color: yellow; */
        margin-top: 2.5%;
    }

    .logo a {
        width: 25%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
    }

    .logo a img {
        width: 100%;
    }
    header.sticky {
        background-color: rgba(255, 255, 255, 0.6);
    }

    header.sticky .header-area {
        height: 10vh;
    }

    header.sticky .logo a {
        line-height: 10vh;
    }

    .menu-btn {
        display: block;
        position: fixed;
        width: 5%;
        right: 5%;
        top: 3vh;
        cursor: pointer;
    }

    .menu-btn>img {
        width: 100%;
    }


    nav {
        width: 45%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        right: 0;
        display: none;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        position: absolute;
        font-size: 0.9rem;
        right: 25%;
        z-index: 110;
    }

    nav ul li a {
        z-index: 999 !important;
    }

    nav ul li:nth-child(1) {
        top: 25%;
    }
    nav ul li:nth-child(2) {
        top: 40%;
    }
    nav ul li:nth-child(3) {
        top: 55%;
    }
    nav ul li:nth-child(4) {
        top: 70%;
    }

    .close-btn {
        display: block;
        width: 15%;
        position: fixed;
        bottom: 8%;
        left: 24%;
        /* background-color: #AB7A42; */
        padding: 5%;
        cursor: pointer;
    }

    .close-btn>img {
        width: 80%;
    }


    /* 메인슬라이드 */
    .m-slide .swiper-slide>img:nth-child(1) {
        display: none;
    }

    .m-slide .swiper-slide>img:nth-child(2) {
        display: block;
    }

    .m-slide a {
        width: 45%;
        left: 50%;
        transform: translateX(-50%);
        top: 88%;
    }

    /* 동그라미 버튼 */
    .m-pager {
        width: 100%;
        text-align: center;
        bottom: 14%;
    }

    .m-pager span {
        margin: 8px;
    }

    /* tap-block */
    .tap-block {
        width: 100%;
    }

    .tap-block>img:nth-child(1), .tap-title>img:nth-child(1) {
        display: none;
    }

    .tap-block>img:nth-child(2), .tap-title>img:nth-child(2) {
        display: block;
    }

    .tap-title {
        width: 85%;
        top: 13%;
    }

    .tap-container ul {
        width: 92%;
    }

    .tap-container ul li label {
        margin-top: 35%;
    }

    .tap-container ul li:nth-child(1) label {
        margin-left: 4%;
    }

    label img:nth-child(3) {
        display: block;
    }

    label img:nth-child(1) {
        display: none;
    }
    .tap-container ul li input[type=radio]:checked ~label img:nth-child(4) {
        display: block;
    }

    .tap-content {
        width: 91%;
        height: 57%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 47%;
    }

    .tap-btn-area {
        width: 50%;
        bottom: -3%;
    }

    .tap-btn-area>img:nth-child(1) {
        display: none;
    }

    .tap-btn-area>img:nth-child(2) {
        display: block;
    }

    /* slide-block2 */
    .slide-block2 {
        width: 100%;
    }

    .sub-slider {
        width: 88%;
    }
    .slide-block2>img:nth-child(1), .sub-title>img:nth-child(1) {
        display: none;
    }
    .slide-block2>img:nth-child(2), .sub-title>img:nth-child(2) {
        display: block;
    }
    .sub-title {
        width: 100%;
    }

    .sub-img {
        top: 37%;
        height: 36%;
    }

    .sub-img1 {
        display: none;
    }

    .sub-img2 {
        display: block;
    }

    .sub-more>img:nth-child(1) {
        display: none;
    }
    .sub-more>img:nth-child(2) {
        display: block;
    }
    .sub-more {
        width: 50%;
        left: 50%;
    }


    /* 좌우버튼 & 페이저 */
    .sub-next, .sub-prev {
        display: none;
    }

    .sub-pager {
        display: block;
        width: 100%;
        bottom: 18%;
        text-align: center;
    }
    
    .sub-pager span {
        margin: 10px;
    }
    
    .sub-pager span.swiper-pagination-bullet-active {
        background-color: #AB7A42;
    }

    /* tour-slide */
    .slide-block3 {
        width: 100%;
    }
    .tour-slide .swiper-slide a>img:nth-child(1) {
        display: none;
    }
    .tour-slide .swiper-slide a>img:nth-child(2) {
        display: block;
    }

    .tour-pager {
        bottom: 25%;
    }

    /* footer */
    footer {
        width: 100%;
    }
    footer>img:nth-child(1) {
        display: none;
    }

    footer>img:nth-child(2) {
        display: block;
    }

    footer>a {
        width: 10%;
        left: 65%;
    }
}